name: xrestormer
model_type: XRestormerModel
scale: 4
num_gpu: 1
manual_seed: 123
padding_size: 16

# dataset and data loader settings
datasets:
  test_1:
    name: test
    type: SingleImageDataset
    dataroot_lq: /root/autodl-tmp/ir-tools/dataset/inputs
    io_backend:
      type: disk
# network structures
network_g:
  type: XRestormer
  inp_channels: 3
  out_channels: 3
  dim: 48
  num_blocks: [2,4,4,4]
  num_refinement_blocks: 4
  channel_heads: [1,2,4,8]
  spatial_heads: [1,2,4,8]
  overlap_ratio: [0.5,0.5,0.5,0.5]
  window_size: 8
  spatial_dim_head: 16
  ffn_expansion_factor: 2.66
  bias: False
  LayerNorm_type: WithBias
  dual_pixel_task: False
  scale: 4

# path
path:
  pretrain_network_g: /root/autodl-tmp/ir-tools/pretrain/X-Restormer/sr_300k.pth
  strict_load_g: true
  resume_state: ~
# validation settings
val:
  save_img: true
  suffix: ~
  pbar: true
  metrics:
    psnr: # metric name, can be arbitrary
      type: calculate_psnr
      crop_border: 4
      test_y_channel: true
    ssim:
      type: calculate_ssim
      crop_border: 4
      test_y_channel: true

# dist training settings
dist_params:
  backend: nccl
  port: 29500