name: xrestormer
model_type: XRestormerModel
scale: 1
num_gpu: 1
manual_seed: 123
padding_size: 16

# dataset and data loader settings
datasets:
  test_1:
    name: .
    type: SingleImageDataset
    dataroot_lq: $in
    io_backend:
      type: disk
# network structures
network_g:
  type: XRestormer
  inp_channels: 3
  out_channels: 3
  dim: 48
  num_blocks: [2,4,4,4]
  num_refinement_blocks: 4
  channel_heads: [1,2,4,8]
  spatial_heads: [1,2,4,8]
  overlap_ratio: [0.5,0.5,0.5,0.5]
  window_size: 8
  spatial_dim_head: 16
  ffn_expansion_factor: 2.66
  bias: False
  LayerNorm_type: WithBias
  dual_pixel_task: False
  scale: 1

# path
path:
  pretrain_network_g: $model
  strict_load_g: true
  resume_state: ~
  results: $out
# validation settings
val:
  save_img: true
  suffix: ~
  pbar: true

# dist training settings
dist_params:
  backend: nccl
  port: 29500